/* Banner */

.slider {
    height: 500px;
    background-position: center;
}

.slderText-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.shopify.com/s/files/1/0577/9675/5633/files/at_autozpro_slide-1.png?v=1650379580");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slderText-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.shopify.com/s/files/1/0577/9675/5633/files/at_autozpro_banner-7.png?v=1648095442");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slderText-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.shopify.com/s/files/1/0577/9675/5633/files/at_autozpro_slide-1.png?v=1650379580");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Sale */


.saleBox {
    height: 400px;
    overflow: hidden;
}

.saleBox .card {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.saleBox .card-1 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-1.webp');

}

.saleBox .card-2 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-2.webp');

}

.saleBox .card-3 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-3.webp');

}

.saleBox .card-4 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-4.webp');

}

.card-body button {
    transition: all 0.3s ease-in-out !important;
}


/* SaleOfTheMonth */
.dealDetails {
    min-height: 100%;
}

.show-counter {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.show-counter p {
    margin: 0;
    padding: 0;
}