.slider {
    height: 500px;
    background-position: center;
}

.saleBox {
    height: 400px;
}

.saleBox .card {
    height: 100%;
    background-image: url('http://via.placeholder.com/720x320');
    background-position: center;
}