.slider {
    height: 500px;
    background-position: center;
}

.saleBox {
    height: 400px;
    overflow: hidden;
}

.saleBox .card {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.saleBox .card-1 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-1.webp');

}

.saleBox .card-2 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-2.webp');

}

.saleBox .card-3 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-3.webp');

}

.saleBox .card-4 {

    background-image: url('../../Assets/Sale/at_autozpro_banner-4.webp');

}

.card-body button {
    transition: all 0.3s ease-in-out !important;
}